# Exercício
- calcular o coeficiente e a taxa de evasão

In [1]:
# Biblioteca
import pandas as pd

In [2]:
# Criando a base de dados
dados = {
    'Ano_graduacao': [
        '1°',
        '2°',
        '3°',
        '4°',
        'Total'
    ],
    'Matriculas_marco': [
        70,
        50,
        47,
        23,
        190
    ],
    'Matriculas_novembro': [
        65,
        48,
        40,
        22,
        175
    ]
}
dados

{'Ano_graduacao': ['1°', '2°', '3°', '4°', 'Total'],
 'Matriculas_marco': [70, 50, 47, 23, 190],
 'Matriculas_novembro': [65, 48, 40, 22, 175]}

In [3]:
# Criando um dataset com os dados
ds = pd.DataFrame(dados)
ds

  Ano_graduacao  Matriculas_marco  Matriculas_novembro
0            1°                70                   65
1            2°                50                   48
2            3°                47                   40
3            4°                23                   22
4         Total               190                  175

In [4]:
# Criando a taxa de evasão 
ds['Taxa_de_evasao'] = ((ds['Matriculas_marco'] - ds['Matriculas_novembro']) / ds['Matriculas_marco']) * 100
ds

  Ano_graduacao  Matriculas_marco  Matriculas_novembro  Taxa_de_evasao
0            1°                70                   65        7.142857
1            2°                50                   48        4.000000
2            3°                47                   40       14.893617
3            4°                23                   22        4.347826
4         Total               190                  175        7.894737