## Quartis

In [1]:
# Libs
import pandas as pd
import numpy as np
from scipy import stats
import math

In [2]:
# Criando a base de dados
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]

In [3]:
# Verificando a posição da mediana
np.median(dados_impar)

153.0

In [4]:
# Colocando a posição em uma variável
posicao_mediana = math.floor(len(dados_impar) / 2)
posicao_mediana

4

In [5]:
# Criando os dados a esquerda
esquerda =dados_impar[0:posicao_mediana]
esquerda

[150, 151, 152, 152]

In [6]:
# verificando a mediana dos dados a esquerda
np.median(esquerda)

151.5

In [7]:
# Criando os dados a direita
direita = dados_impar[posicao_mediana + 1:]
direita

[154, 155, 155, 155]

In [8]:
# verificando a mediana dos dados a esquerda
np.median(direita)

155.0

### Usando as Bibliotecas

In [9]:
# Usando o numpy
np.quantile(dados_impar, 0.5)

153.0

In [10]:
# Verificando o Q3
np.quantile(dados_impar, 0.75)

155.0

In [11]:
# Verificando o Q1
np.quantile(dados_impar, 0.25)

152.0

In [12]:
# Visualizando o Q1, Q2, Q3
np.quantile(dados_impar, 0.25), np.quantile(dados_impar, 0.50), np.quantile(dados_impar, 0.75)

(152.0, 153.0, 155.0)

In [13]:
# Usando Scipy
stats.scoreatpercentile(dados_impar, 25), stats.scoreatpercentile(dados_impar, 50), stats.scoreatpercentile(dados_impar, 75)

(152.0, 153.0, 155.0)

In [14]:
# Usando o pandas
ds = pd.DataFrame(dados_impar)
ds.head()

     0
0  150
1  151
2  152
3  152
4  153

In [15]:
# Visualizando os Quartis
ds.quantile([0.25, 0.5, 0.75])

          0
0.25  152.0
0.50  153.0
0.75  155.0

In [16]:
# Usado a função describe
ds.describe()

                0
count    9.000000
mean   153.000000
std      1.870829
min    150.000000
25%    152.000000
50%    153.000000
75%    155.000000
max    155.000000