## Valores faltantes com Média e Moda

In [1]:
# Bibliotecas
import pandas as pd
import numpy as np
import statistics as sts

In [2]:
# Base de Dados
ds = pd.read_csv('.././Labs/Amostragem/credit_data.csv')
# Visualizando os valores nulos
ds.isnull().sum()

i#clientid    0
income        0
age           3
loan          0
c#default     0
dtype: int64

In [3]:
#criando base de dados só com valores nulos
nulos = ds[ds.isnull().any(axis=1)]
nulos

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [4]:
# Visualizando a média e a mediana
ds['age'].mean(), ds['age'].median()

(40.80755937840458, 41.3171591130085)

In [5]:
# Substituído os valores nulos
ds['age'] = ds['age'].replace(
    to_replace=np.nan, value=ds['age'].mean()
)
ds[ds.isnull().any(axis=1)]

Empty DataFrame
Columns: [i#clientid, income, age, loan, c#default]
Index: []

### Moda

In [6]:
# Base de dados com dados categóricos 
df = pd.read_csv('autos.csv', encoding='ISO-8859-1')
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [7]:
# Valores faltante
df.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [8]:
# Valores únicos da coluna fuelType
df['fuelType'].unique()

array(['benzin', 'diesel', nan, 'lpg', 'andere', 'hybrid', 'cng',
       'elektro'], dtype=object)

In [9]:
# A moda
df['fuelType'].mode()

0    benzin
Name: fuelType, dtype: object

In [10]:
# a moda com statistics
sts.mode(df['fuelType'])

'benzin'

In [11]:
# Substituído os valores nulos com a moda
df['fuelType'] = df['fuelType'].replace(
    to_replace=np.nan, value=sts.mode(df['fuelType'])
)
# Valores únicos da coluna fuelType
df['fuelType'].unique()

array(['benzin', 'diesel', 'lpg', 'andere', 'hybrid', 'cng', 'elektro'],
      dtype=object)