#### Amostragem

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
ds = pd.read_csv('census.csv')
ds.shape

(32561, 15)

In [3]:
# Visualizando o cabeçalho 
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Visualizando o final
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

##### Amostragem Aleatória Simples

In [5]:
ds_amostra_aleatoria_simples = ds.sample(n=100)
ds_amostra_aleatoria_simples.shape

(100, 15)

In [6]:
# Visualizando a amostra
ds_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
23841,37,Private,126954,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
29616,33,State-gov,173806,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,30,United-States,<=50K
803,31,Private,51471,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,38,United-States,<=50K
9321,35,Self-emp-inc,340110,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
4169,27,?,129661,Assoc-voc,11,Married-civ-spouse,?,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,>50K

In [7]:
# Criando uma função de amostragem simples
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n=amostras)

In [8]:
# Executando a função
df_amostra_aleatoria_simple = amostragem_aleatoria_simples(ds, 100)
df_amostra_aleatoria_simple.shape

(100, 15)

In [9]:
# Visualizando o retorno da função
df_amostra_aleatoria_simple.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
14896,17,Private,327127,11th,7,Never-married,Transport-moving,Own-child,White,Male,0,0,20,United-States,<=50K
7054,23,Private,203003,7th-8th,4,Never-married,Craft-repair,Not-in-family,White,Male,0,0,25,Germany,<=50K
9403,19,Private,46162,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,25,United-States,<=50K
9968,25,Private,313930,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
3591,19,Private,100999,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,<=50K

##### Amostragem Sistemática

In [10]:
# Dividido para saber o tamanho da amostras
len(ds) / 100

325.61

In [11]:
# Criando a semente e o intervalo 
random.seed(1)
random.randint(0, 325)

68

In [12]:
# O intervalo
np.arange(68, len(ds), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [13]:
# Criando a função de amostragem sistemática
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset) ,step=intervalo)
    amostragem_sistematica = dataset.iloc[indices]
    return amostragem_sistematica

In [14]:
# testeando a function
df_amostra_sistematica = amostragem_sistematica(ds, 100)
df_amostra_sistematica.shape

(100, 15)

In [15]:
# Visualizando a amostras
df_amostra_sistematica.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1693,53,State-gov,281590,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
2018,39,Private,505119,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Cuba,>50K
2343,21,Private,191460,11th,7,Never-married,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
2668,37,Self-emp-not-inc,243587,Some-college,10,Separated,Other-service,Own-child,White,Female,0,0,40,Cuba,<=50K
2993,29,Private,100405,10th,6,Married-civ-spouse,Farming-fishing,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K