#### Amostragem

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
ds = pd.read_csv('census.csv')
ds.shape

(32561, 15)

In [3]:
# Visualizando o cabeÃ§alho 
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Visualizando o final
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

##### Amostragem AleatÃ³ria Simples

In [5]:
ds_amostra_aleatoria_simples = ds.sample(n=100)
ds_amostra_aleatoria_simples.shape

(100, 15)

In [6]:
# Visualizando a amostra
ds_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
8673,28,?,168524,Assoc-voc,11,Married-civ-spouse,?,Own-child,White,Female,0,0,40,United-States,<=50K
20578,32,Private,26803,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,84,United-States,>50K
8611,49,Private,76482,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
10904,39,Federal-gov,209609,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,50,United-States,<=50K
15004,36,Private,211022,Assoc-voc,11,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K

In [7]:
# Criando uma funÃ§Ã£o de amostragem simples
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n=amostras)

In [8]:
# Executando a funÃ§Ã£o
df_amostra_aleatoria_simple = amostragem_aleatoria_simples(ds, 100)
df_amostra_aleatoria_simple.shape

(100, 15)

In [9]:
# Visualizando o retorno da funÃ§Ã£o
df_amostra_aleatoria_simple.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
20774,21,Private,43535,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
14278,38,Private,146178,HS-grad,9,Never-married,Craft-repair,Unmarried,Black,Female,0,0,40,United-States,<=50K
30928,37,Private,150057,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K
3226,58,Local-gov,310085,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
31889,38,Private,65390,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K