#### Amostragem

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
ds = pd.read_csv('census.csv')
ds.shape

(32561, 15)

In [3]:
# Visualizando o cabeÃ§alho 
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Visualizando o final
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

##### Amostragem AleatÃ³ria Simples

In [5]:
ds_amostra_aleatoria_simples = ds.sample(n=100)
ds_amostra_aleatoria_simples.shape

(100, 15)

In [6]:
# Visualizando a amostra
ds_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
3183,40,Private,291192,HS-grad,9,Widowed,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
26273,29,Private,180299,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,35,United-States,<=50K
10807,54,Private,111469,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
26869,28,Federal-gov,298661,Bachelors,13,Never-married,Tech-support,Not-in-family,Black,Female,0,0,40,United-States,<=50K
32286,28,Private,478315,Bachelors,13,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [7]:
# Criando uma funÃ§Ã£o de amostragem simples
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n=amostras)

In [8]:
# Executando a funÃ§Ã£o
df_amostra_aleatoria_simple = amostragem_aleatoria_simples(ds, 100)
df_amostra_aleatoria_simple.shape

(100, 15)

In [9]:
# Visualizando o retorno da funÃ§Ã£o
df_amostra_aleatoria_simple.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
2004,39,Private,192337,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K
22451,34,Private,112115,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,55,United-States,>50K
14982,66,?,222810,Some-college,10,Divorced,?,Other-relative,White,Female,0,0,35,United-States,<=50K
32116,56,Private,134153,10th,6,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States,<=50K
31055,54,Private,222882,HS-grad,9,Widowed,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,<=50K

##### Amostragem SistemÃ¡tica

In [10]:
# Dividido para saber o tamanho da amostras
len(ds) / 100

325.61

In [11]:
# Criando a semente e o intervalo 
random.seed(1)
random.randint(0, 325)

68

In [12]:
# O intervalo
np.arange(68, len(ds), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [13]:
# Criando a funÃ§Ã£o de amostragem sistemÃ¡tica
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset) ,step=intervalo)
    amostragem_sistematica = dataset.iloc[indices]
    return amostragem_sistematica

In [14]:
# testeando a function
df_amostra_sistematica = amostragem_sistematica(ds, 100)
df_amostra_sistematica.shape

(100, 15)

In [15]:
# Visualizando a amostras
df_amostra_sistematica.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1693,53,State-gov,281590,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
2018,39,Private,505119,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Cuba,>50K
2343,21,Private,191460,11th,7,Never-married,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
2668,37,Self-emp-not-inc,243587,Some-college,10,Separated,Other-service,Own-child,White,Female,0,0,40,Cuba,<=50K
2993,29,Private,100405,10th,6,Married-civ-spouse,Farming-fishing,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K

#### Amostragem por Grupos

In [16]:
# Verificando o tamanho dos grupos
len(ds) / 10

3256.1

In [17]:
# Fazendo a divisÃ£o dos grupos
grupos = []
id_grupo = 0
contagem = 0
for _ in ds.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > 3256:
        contagem = 0
        id_grupo += 1

print(grupos[:100])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
# Vilificando o valores Ãºnicos 
np.unique(grupos, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248],
       dtype=int64))

In [19]:
# Visualizando o tamanho
np.shape(grupos), ds.shape

((32561,), (32561, 15))

In [20]:
# Adicionando os grupos
ds['grupo'] = grupos

In [21]:
# Visualizando
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [22]:
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,9
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,9
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,9
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,9
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,9

In [23]:
# Semente
random.seed(1)
random.randint(0, 9)

2

In [24]:
# Selecionando o grupo no ds
df_agrupamento = ds[ds['grupo'] == 2]
df_agrupamento.shape

(3257, 16)

In [25]:
# Contando os valores 
df_agrupamento['grupo'].value_counts()

2    3257
Name: grupo, dtype: int64

In [26]:
# Criando a funÃ§Ã£o 
def amostragem_agrupamento(dataset, numero_grupos):
    intervalo = len(dataset) // numero_grupos
    
    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in ds.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1

    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return dataset[dataset['grupo'] == grupo_selecionado]

In [27]:
# Usando a funÃ§Ã£o
df_amostra_agrupamento = amostragem_agrupamento(ds, 100)
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((326, 16),
 17    326
 Name: grupo, dtype: int64)