#### Amostragem

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
ds = pd.read_csv('census.csv')
ds.shape

(32561, 15)

In [3]:
# Visualizando o cabeçalho 
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Visualizando o final
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

##### Amostragem Aleatória Simples

In [5]:
ds_amostra_aleatoria_simples = ds.sample(n=100)
ds_amostra_aleatoria_simples.shape

(100, 15)

In [6]:
# Visualizando a amostra
ds_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
15878,40,Private,166662,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
30988,60,Private,75726,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,1092,40,United-States,<=50K
18697,60,Private,148522,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
24469,50,Local-gov,218382,Some-college,10,Divorced,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
13535,54,Private,163671,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,65,United-States,>50K

In [7]:
# Criando uma função de amostragem simples
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n=amostras)

In [8]:
# Executando a função
df_amostra_aleatoria_simple = amostragem_aleatoria_simples(ds, 100)
df_amostra_aleatoria_simple.shape

(100, 15)

In [9]:
# Visualizando o retorno da função
df_amostra_aleatoria_simple.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
21824,34,State-gov,327902,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
16701,37,Private,238311,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,36,United-States,>50K
12412,39,Local-gov,423605,12th,8,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1848,40,Nicaragua,>50K
268,33,Private,185480,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
25294,34,Private,113543,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K

##### Amostragem Sistemática

In [10]:
# Dividido para saber o tamanho da amostras
len(ds) / 100

325.61

In [11]:
# Criando a semente e o intervalo 
random.seed(1)
random.randint(0, 325)

68

In [12]:
# O intervalo
np.arange(68, len(ds), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [13]:
# Criando a função de amostragem sistemática
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset) ,step=intervalo)
    amostragem_sistematica = dataset.iloc[indices]
    return amostragem_sistematica

In [14]:
# testeando a function
df_amostra_sistematica = amostragem_sistematica(ds, 100)
df_amostra_sistematica.shape

(100, 15)

In [15]:
# Visualizando a amostras
df_amostra_sistematica.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1693,53,State-gov,281590,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
2018,39,Private,505119,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Cuba,>50K
2343,21,Private,191460,11th,7,Never-married,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
2668,37,Self-emp-not-inc,243587,Some-college,10,Separated,Other-service,Own-child,White,Female,0,0,40,Cuba,<=50K
2993,29,Private,100405,10th,6,Married-civ-spouse,Farming-fishing,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K

#### Amostragem por Grupos

In [16]:
# Verificando o tamanho dos grupos
len(ds) / 10

3256.1

In [17]:
# Fazendo a divisão dos grupos
grupos = []
id_grupo = 0
contagem = 0
for _ in ds.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > 3256:
        contagem = 0
        id_grupo += 1

print(grupos[:100])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
# Vilificando o valores únicos 
np.unique(grupos, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248],
       dtype=int64))

In [19]:
# Visualizando o tamanho
np.shape(grupos), ds.shape

((32561,), (32561, 15))

In [20]:
# Adicionando os grupos
ds['grupo'] = grupos

In [21]:
# Visualizando
ds.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [22]:
ds.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,9
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,9
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,9
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,9
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,9

In [23]:
# Semente
random.seed(1)
random.randint(0, 9)

2

In [24]:
# Selecionando o grupo no ds
df_agrupamento = ds[ds['grupo'] == 2]
df_agrupamento.shape

(3257, 16)

In [25]:
# Contando os valores 
df_agrupamento['grupo'].value_counts()

2    3257
Name: grupo, dtype: int64

In [26]:
# Criando a função 
def amostragem_agrupamento(dataset, numero_grupos):
    intervalo = len(dataset) // numero_grupos
    
    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in ds.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1

    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return dataset[dataset['grupo'] == grupo_selecionado]

In [27]:
# Usando a função
df_amostra_agrupamento = amostragem_agrupamento(ds, 100)
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((326, 16),
 17    326
 Name: grupo, dtype: int64)

####  Amostragem Estratificada

In [28]:
# Importação da Lib
from sklearn.model_selection import StratifiedShuffleSplit

In [29]:
# Verificando o 'income'
ds['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [30]:
# Verificando a porcentagem 
mais_50k = 7841 / len(ds)
menos_50k = 24720 / len(ds)
print(mais_50k, menos_50k, mais_50k + menos_50k)

0.2408095574460244 0.7591904425539756 1.0

In [31]:
# Criando o tamanho do teste
100 / len(ds)

0.0030711587481956942

In [32]:
# Criando a amostra
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x, y in split.split(ds, ds['income']):
    df_x = ds.iloc[x]
    df_y = ds.iloc[y]

In [33]:
# Visualizando o tamanho
df_x.shape, df_y.shape

((32461, 16), (100, 16))

In [34]:
# Visualizando a amostra
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
13353,71,Private,187493,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,40
19138,30,Private,149531,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,58
24182,26,Private,104045,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K,74
5922,33,Private,126950,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,60,United-States,<=50K,18
2819,31,Private,169240,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K,8

In [35]:
# Contando os valores
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [36]:
# Criando a função
def amostragem_estratificada(dataset, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(dataset, dataset['income']):
        df_y = dataset.iloc[y]
    return df_y

In [37]:
df_amostra_estratificada = amostragem_estratificada(ds, 0.0030711587481956942)
df_amostra_estratificada.shape

(100, 16)

In [38]:
df_amostra_estratificada.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
5611,47,Private,176319,HS-grad,9,Married-civ-spouse,Sales,Own-child,White,Female,0,0,38,United-States,>50K,17
30532,41,Private,242619,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,80,United-States,<=50K,93
4586,21,Private,152540,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,35,United-States,<=50K,14
15764,33,Private,132705,9th,5,Separated,Adm-clerical,Not-in-family,White,Male,0,0,48,United-States,<=50K,48
4511,24,Private,140001,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K,13

#### Amostragem de Reservatório

In [39]:
stream = []
for i in range(len(ds)):
    stream.append(i)

print(stream[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# Criando uma função de amostragem reservatório
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)

    i = 0
    tamanho = len(dataset)

    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]

    while i < tamanho:
        j = random.randrange(i + 1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1

    return dataset.iloc[reservatorio]

In [41]:
# Testando a function
df_amostragem_reservatorio = amostragem_reservatorio(ds, 100)
df_amostragem_reservatorio.shape

(100, 16)

In [42]:
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
29608,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,55,United-States,>50K,90
21696,37,Federal-gov,329088,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States,<=50K,66
30676,42,Private,355728,Assoc-voc,11,Never-married,Craft-repair,Not-in-family,White,Male,0,0,44,United-States,<=50K,94
28550,43,Private,110970,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K,87
8768,52,Federal-gov,221532,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K,26

#### Comparativo dos resultados

In [43]:
ds['age'].mean()

38.58164675532078

In [44]:
df_amostra_aleatoria_simple['age'].mean()

39.38

In [45]:
df_amostra_sistematica['age'].mean()

37.57

In [46]:
df_amostra_agrupamento['age'].mean()

39.23312883435583

In [47]:
df_amostra_estratificada['age'].mean()

36.9

In [48]:
df_amostragem_reservatorio['age'].mean()

37.85