### EXERCÍCIO

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
df = pd.read_csv('credit_data.csv')
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [3]:
# Verificando o tamanho
df.shape

(2000, 5)

#### Amostragem Aleatória Simples

In [4]:
# Criando uma amostra simples
df_amostra_simples = df.sample(n=1000)
df_amostra_simples.shape

(1000, 5)

In [5]:
# Visualizando a Amostra
df_amostra_simples.head()

      i#clientid        income        age         loan  c#default
648          649  34488.209854  27.131530  2156.314406          0
367          368  48463.204554  50.526430  8120.258090          0
1613        1614  58023.723767  42.751839  2785.779563          0
1140        1141  69310.957268  42.110609  1590.325804          0
573          574  42476.265533  46.438223  8334.182008          0

In [6]:
# Criando a função 
def amostragem_simples(dataset, amostras):
    return dataset.sample(n=amostras)


# Testando a função
df_amostra_simples = amostragem_simples(df, 1000)
df_amostra_simples.head()

      i#clientid        income        age         loan  c#default
372          373  46065.948210  52.838639  4947.308728          0
750          751  40836.588810  22.168263  6994.487801          1
141          142  24865.798075  37.309753  4439.116154          0
1437        1438  56003.573402  18.250265  3639.900038          0
686          687  45200.992799  43.905429  7335.962568          0

#### Amostragem Sistemática

In [7]:
# Criando a função de amostragem sistemática
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset), step=intervalo)
    amostragem_sistematica = dataset.iloc[indices]
    return amostragem_sistematica

In [8]:
# Testando a função
df_amostra_sistematica = amostragem_sistematica(df, 1000)
df_amostra_sistematica.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
2           3  57317.170063  63.108049  8020.953296          0
4           5  66952.688845  18.584336  8770.099235          1
6           7  48430.359613  26.809132  5722.581981          0
8           9  40654.892537  55.496853  4755.825280          0

In [9]:
# Verificando o tamanho
df_amostra_sistematica.shape

(1000, 5)

#### Amostragem por Grupos

In [10]:
# Criando a função de amostragem
def amostragem_agrupamento(dataset, numeros_grupos):
    intervalo = len(dataset) // numeros_grupos

    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in df.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1

    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numeros_grupos)
    return dataset[dataset['grupo'] == grupo_selecionado]

In [11]:
# Testando a função
df_amostra_agrupamento = amostragem_agrupamento(df, 2)
df_amostra_agrupamento.head()

   i#clientid        income        age         loan  c#default  grupo
0           1  66155.925095  59.017015  8106.532131          0      0
1           2  34415.153966  48.117153  6564.745018          0      0
2           3  57317.170063  63.108049  8020.953296          0      0
3           4  42709.534201  45.751972  6103.642260          0      0
4           5  66952.688845  18.584336  8770.099235          1      0

In [12]:
# Verificando o grupo
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((1001, 6),
 0    1001
 Name: grupo, dtype: int64)

#### Amostragem Estratificada

In [13]:
# Importação da Bibliotecas 
from sklearn.model_selection import StratifiedShuffleSplit

In [14]:
# Contando os valores de c#default
df['c#default'].value_counts()

0    1717
1     283
Name: c#default, dtype: int64

In [15]:
# Verificando a porcentagem de 0 e 1
zero = len(df) / 1717
um = len(df) / 283
print(f'Porcentagem de 0 = {zero} e de 1 = {um} totalizando = {zero + um}')

Porcentagem de 0 = 1.1648223645894 e de 1 = 7.067137809187279 totalizando = 8.23196017377668

In [16]:
# Criando o tamanho do teste
1000 / len(df)

0.5

In [17]:
# Criando a amostras
split = StratifiedShuffleSplit(test_size=0.5)
for x, y in split.split(df, df['c#default']):
    df_x = df.iloc[x]
    df_y = df.iloc[y]

In [18]:
# Visualizando o tamanho
df_x.shape, df_y.shape

((1000, 6), (1000, 6))

In [19]:
# Visualizando
df_y

      i#clientid        income        age          loan  c#default  grupo
688          689  46365.573518  41.852613   5443.276307          0      0
149          150  58481.012161  40.832918   5380.560596          0      0
1669        1670  25481.987912  48.362293   4005.816148          0      1
634          635  41004.262357  55.849092   1016.141008          0      0
975          976  53746.326575  29.350289   9534.660206          1      0
...          ...           ...        ...           ...        ...    ...
1585        1586  45980.334345  31.948324   5929.098030          1      1
1087        1088  60664.371604  22.364457   5873.410979          0      1
1298        1299  27407.056203  26.159438   2949.931674          0      1
1379        1380  69478.398764  22.656340  10229.407877          1      1
622          623  43694.034445  49.515036   5049.635509          0      0

[1000 rows x 6 columns]

In [20]:
# Criando a função
def amostragem_estratificada(dataset, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(dataset, dataset['c#default']):
        df_y = dataset.iloc[y]
    return df_y

In [21]:
# Testendo a função
df_amostra_estratificada = amostragem_estratificada(df, 0.5)
df_amostra_estratificada.head()

      i#clientid        income        age         loan  c#default  grupo
1374        1375  35916.704154  53.540443  6401.189486          0      1
253          254  25259.401631  39.739766  4341.008082          0      0
1149        1150  56317.082820  24.653482  8045.440953          1      1
1453        1454  28630.009508  27.291530  4406.995056          1      1
1929        1930  27514.088473  36.278684   192.144611          0      1

In [22]:
# Verificando o tamanho
df_amostra_estratificada.shape

(1000, 6)

In [23]:
# Criando uma função de amostragem reservatório
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)

    i = 0
    tamanho = len(dataset)

    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]

    while i < tamanho:
        j = random.randrange(i + 1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1

    return dataset.iloc[reservatorio]

In [24]:
# Testando a function
df_amostragem_reservatorio = amostragem_reservatorio(df, 1000)
df_amostragem_reservatorio.head()

      i#clientid        income        age         loan  c#default  grupo
0              1  66155.925095  59.017015  8106.532131          0      0
1649        1650  62219.037539  19.523983  5831.521429          0      1
2              3  57317.170063  63.108049  8020.953296          0      0
1114        1115  37887.549393  24.415726  5061.777831          1      1
1023        1024  68414.120777  51.046781  6154.052457          0      1

In [25]:
# Tamanho
df_amostragem_reservatorio.shape

(1000, 6)

### Comparativo dos resultados

In [26]:
# Media da idade # Media do empréstimo # Media da renda
df['age'].mean(), df['income'].mean(), df['loan'].mean()

(40.80755937840458, 45331.600017793244, 4444.369694688258)

In [27]:
# Amostragem Simples
df_amostra_simples['age'].mean(), df_amostra_simples['income'].mean(), df_amostra_simples['loan'].mean()

(41.175946716997, 45193.464690737885, 4375.476691034383)

In [28]:
# Amostragem Sistemática
df_amostra_sistematica['age'].mean(), df_amostra_sistematica['income'].mean(), df_amostra_sistematica['loan'].mean()

(40.91117381141754, 45691.49875066942, 4506.78797642633)

In [29]:
# Amostragem por grupos
df_amostra_agrupamento['age'].mean(), df_amostra_agrupamento['income'].mean(), df_amostra_agrupamento['loan'].mean()

(41.0432231120503, 44846.74925986141, 4390.161493744205)

In [30]:
# Amostragem Estratificada
df_amostra_estratificada['age'].mean(), df_amostra_estratificada['income'].mean(), df_amostra_estratificada['loan'].mean()

(40.53363707173919, 45101.366750267334, 4423.7446510941945)

In [31]:
# Amostragem Reservatório
df_amostragem_reservatorio['age'].mean(), df_amostragem_reservatorio['income'].mean(), df_amostragem_reservatorio['loan'].mean()

(40.57203708208336, 45111.194297345355, 4429.634971370369)