### EXERCÍCIO

In [1]:
# Carregamento da base de dados
import pandas as pd
import numpy as np
import random

In [2]:
# Base de dados
df = pd.read_csv('credit_data.csv')
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [3]:
# Verificando o tamanho
df.shape

(2000, 5)

#### Amostragem Aleatória Simples

In [4]:
# Criando uma amostra simples
df_amostra_simples = df.sample(n=1000)
df_amostra_simples.shape

(1000, 5)

In [5]:
# Visualizando a Amostra
df_amostra_simples.head()

      i#clientid        income        age         loan  c#default
1222        1223  46546.704548  60.759745   254.843579          0
237          238  60521.364100  45.424993  8035.883173          0
1178        1179  56696.458596  57.520253  9686.630307          0
600          601  40484.971325  39.281433  1093.679203          0
781          782  27973.826560  49.674220   403.402135          0

In [6]:
# Criando a função 
def amostragem_simples(dataset, amostras):
    return dataset.sample(n=amostras)


# Testando a função
df_amostra_simples = amostragem_simples(df, 1000)
df_amostra_simples.head()

      i#clientid        income        age         loan  c#default
1059        1060  48818.382323  49.296122  2312.421777          0
1127        1128  21448.827994  31.795188  1989.182976          0
840          841  52956.246077  25.147102   959.097215          0
1958        1959  48263.003426  28.549605  7798.793463          1
1651        1652  46166.163129  25.996121   901.753118          0

#### Amostragem Sistemática

In [7]:
# Criando a função de amostragem sistemática
def amostragem_sistematica(dataset, amostras):
    intervalo = len(dataset) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(dataset), step=intervalo)
    amostragem_sistematica = dataset.iloc[indices]
    return amostragem_sistematica

In [8]:
# Testando a função
df_amostra_sistematica = amostragem_sistematica(df, 1000)
df_amostra_sistematica.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
2           3  57317.170063  63.108049  8020.953296          0
4           5  66952.688845  18.584336  8770.099235          1
6           7  48430.359613  26.809132  5722.581981          0
8           9  40654.892537  55.496853  4755.825280          0

In [9]:
# Verificando o tamanho
df_amostra_sistematica.shape

(1000, 5)

#### Amostragem por Grupos

In [10]:
# Criando a função de amostragem
def amostragem_agrupamento(dataset, numeros_grupos):
    intervalo = len(dataset) // numeros_grupos

    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in df.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1

    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numeros_grupos)
    return dataset[dataset['grupo'] == grupo_selecionado]

In [11]:
# Testando a função
df_amostra_agrupamento = amostragem_agrupamento(df, 1000)
df_amostra_agrupamento.head()

     i#clientid        income        age         loan  c#default  grupo
411         412  52934.594434  50.402982  3248.627718          0    137
412         413  43509.757756  18.075336  7363.037639          1    137
413         414  22118.357329  63.015947  3928.121846          0    137

In [12]:
# Verificando o grupo
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((3, 6),
 137    3
 Name: grupo, dtype: int64)

#### Amostragem Estratificada

In [13]:
# Importação da Bibliotecas 
from sklearn.model_selection import StratifiedShuffleSplit

In [14]:
# Contando os valores de c#default
df['c#default'].value_counts()

0    1717
1     283
Name: c#default, dtype: int64

In [15]:
# Verificando a porcentagem de 0 e 1
zero = len(df) / 1717
um = len(df) / 283
print(f'Porcentagem de 0 = {zero} e de 1 = {um} totalizando = {zero + um}')

Porcentagem de 0 = 1.1648223645894 e de 1 = 7.067137809187279 totalizando = 8.23196017377668

In [16]:
# Criando o tamanho do teste
1000 / len(df)

0.5

In [17]:
# Criando a amostras
split = StratifiedShuffleSplit(test_size=0.5)
for x, y in split.split(df, df['c#default']):
    df_x = df.iloc[x]
    df_y = df.iloc[y]

In [18]:
# Visualizando o tamanho
df_x.shape, df_y.shape

((1000, 6), (1000, 6))

In [19]:
# Visualizando
df_y

      i#clientid        income        age         loan  c#default  grupo
134          135  48790.132434  32.475621  5519.096040          0     44
623          624  24078.072496  38.491628  3276.139948          0    207
78            79  38789.029389  61.229285  7650.655210          0     26
1349        1350  39393.140578  52.739274  5415.054667          0    449
1103        1104  35403.427335  34.645416  2929.359704          0    367
...          ...           ...        ...          ...        ...    ...
445          446  34141.927636  47.151149  3371.664310          0    148
1733        1734  67417.571000  29.910984  6478.402532          0    577
144          145  28982.058149  39.048410  2898.761824          0     48
1163        1164  30961.166141  32.114287   162.795596          0    387
40            41  66260.121558  32.896693  7035.589107          0     13

[1000 rows x 6 columns]

In [20]:
# Criando a função
def amostragem_estratificada(dataset, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(dataset, dataset['c#default']):
        df_y = dataset.iloc[y]
    return df_y

In [21]:
# Testendo a função
df_amostra_estratificada = amostragem_estratificada(df, 0.5)
df_amostra_estratificada.head()

      i#clientid        income        age         loan  c#default  grupo
1374        1375  35916.704154  53.540443  6401.189486          0    458
253          254  25259.401631  39.739766  4341.008082          0     84
1149        1150  56317.082820  24.653482  8045.440953          1    383
1453        1454  28630.009508  27.291530  4406.995056          1    484
1929        1930  27514.088473  36.278684   192.144611          0    643

In [22]:
# Verificando o tamanho
df_amostra_estratificada.shape

(1000, 6)

In [23]:
# Criando uma função de amostragem reservatório
def amostragem_reservatorio(dataset, amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)

    i = 0
    tamanho = len(dataset)

    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]

    while i < tamanho:
        j = random.randrange(i + 1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1

    return dataset.iloc[reservatorio]

In [24]:
# Testando a function
df_amostragem_reservatorio = amostragem_reservatorio(df, 1000)
df_amostragem_reservatorio.head()

      i#clientid        income        age         loan  c#default  grupo
0              1  66155.925095  59.017015  8106.532131          0      0
1649        1650  62219.037539  19.523983  5831.521429          0    549
2              3  57317.170063  63.108049  8020.953296          0      0
1114        1115  37887.549393  24.415726  5061.777831          1    371
1023        1024  68414.120777  51.046781  6154.052457          0    341

In [25]:
# Tamanho
df_amostragem_reservatorio.shape

(1000, 6)

### Comparativo dos resultados

In [26]:
# Media da idade # Media do empréstimo # Media da renda
df['age'].mean(), df['income'].mean(), df['loan'].mean()

(40.80755937840458, 45331.600017793244, 4444.369694688258)

In [27]:
# Amostragem Simples
df_amostra_simples['age'].mean(), df_amostra_simples['income'].mean(), df_amostra_simples['loan'].mean()

(41.21722876907649, 45899.28757597227, 4503.432810207436)

In [28]:
# Amostragem Sistemática
df_amostra_sistematica['age'].mean(), df_amostra_sistematica['income'].mean(), df_amostra_sistematica['loan'].mean()

(40.91117381141754, 45691.49875066942, 4506.78797642633)

In [29]:
# Amostragem por grupos
df_amostra_agrupamento['age'].mean(), df_amostra_agrupamento['income'].mean(), df_amostra_agrupamento['loan'].mean()

(43.83142139948904, 39520.903173058, 4846.595734472186)

In [30]:
# Amostragem Estratificada
df_amostra_estratificada['age'].mean(), df_amostra_estratificada['income'].mean(), df_amostra_estratificada['loan'].mean()

(40.53363707173919, 45101.366750267334, 4423.7446510941945)

In [31]:
# Amostragem Reservatório
df_amostragem_reservatorio['age'].mean(), df_amostragem_reservatorio['income'].mean(), df_amostragem_reservatorio['loan'].mean()

(40.57203708208336, 45111.194297345355, 4429.634971370369)