## Execício
O objetivo desta tarefa é gerar as estatísticas para o atributo age da base de dados do censo.csv
- Calcule a média aritmética, média harmônica, média geométrica, média quadrática, a mediana e a moda. Compare os resultados

In [1]:
# Bibliotecas
import pandas as pd
import numpy as np
import statistics
from scipy import stats
import math

In [2]:
# Base de dados
df = pd.read_csv('../../populacao_e_amostra/census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# Selecionado só a coluna Idade
df = df['age']
df.head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [4]:
# Visualizando a discrição
df.describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [5]:
# A Média
np.mean(df)

38.58164675532078

In [6]:
# A mediana
np.median(df)

37.0

In [7]:
# A moda
stats.mode(df)

C:\Users\joaoi\AppData\Local\Temp\ipykernel_5620\4105480111.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df)

ModeResult(mode=array([36], dtype=int64), count=array([898]))

In [8]:
# A moda, Média, Mediana com pandas
print(f'A Moda {df.mode()}\nA Média {df.mean()} \nA Mediana {df.median()}')

A Moda 0    36
Name: age, dtype: int64
A Média 38.58164675532078
A Mediana 37.0

In [9]:
# Média Geométrica
stats.gmean(df)

36.210879158177256

In [10]:
# Média Harmônica
stats.hmean(df)

33.91874139089839

In [11]:
# Criando a função de Média Quadrática
def quadratic_mean(dados):
    return math.sqrt(sum(n * n for n in dados) / len(dados))

quadratic_mean(df)

40.9218664329987

In [12]:
# média harmônica, média geométrica, média quadrática
print(f'Média Geométrica {stats.gmean(df):.2f}, média harmônica, {stats.hmean(df):.2f}, média quadrática {quadratic_mean(df):.2f}')

Média Geométrica 36.21, média harmônica, 33.92, média quadrática 40.92